---
http_interactions:
- request:
    method: post
    uri: https://webservice.stellae.us/SIIServices/Siiservice.svc?wsdl
    body:
      encoding: UTF-8
      string: <s:Envelope xmlns:s="http://www.w3.org/2003/05/soap-envelope" xmlns:a="http://www.w3.org/2005/08/addressing"><s:Header><a:Action
        s:mustUnderstand="1">SII/ISIIService/get_inventory_on_hand</a:Action><a:MessageID>urn:uuid:56b55a70-8bbc-471d-94bb-9ca060bcf99f</a:MessageID><a:ReplyTo><a:Address>http://www.w3.org/2005/08/addressing/anonymous</a:Address></a:ReplyTo><a:To
        s:mustUnderstand="1">https://webservice.stellae.us/SIIServices/Siiservice.svc</a:To></s:Header><s:Body><get_inventory_on_hand
        xmlns="SII"><user xmlns:a="http://schemas.datacontract.org/2004/07/" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><a:user_name>DELPOZOTEST</a:user_name><a:user_password>9kUw#xAmk7uT</a:user_password></user><upcs
        xmlns:b="http://schemas.datacontract.org/2004/07/" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"/></get_inventory_on_hand></s:Body></s:Envelope>
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <s:Envelope xmlns:s="http://www.w3.org/2003/05/soap-envelope" xmlns:a="http://www.w3.org/2005/08/addressing"><s:Header><a:Action
        s:mustUnderstand="1">SII/ISIIService/get_inventory_on_handResponse</a:Action><ActivityId
        CorrelationId="79a6d0a9-3785-4631-b0c7-877e953a9e47" xmlns="http://schemas.microsoft.com/2004/09/ServiceModel/Diagnostics">d6cfdc05-42ba-4ee2-b597-dc244b2be31c</ActivityId><a:RelatesTo>urn:uuid:56b55a70-8bbc-471d-94bb-9ca060bcf99f</a:RelatesTo></s:Header><s:Body><get_inventory_on_handResponse
        xmlns="SII"><get_inventory_on_handResult xmlns:b="http://schemas.datacontract.org/2004/07/"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><b:Inventory_values><b:UPC_Inventory_Response><b:lot>
        </b:lot><b:on_hand>199</b:on_hand><b:uom>EA</b:uom><b:upc>8433889043134</b:upc><b:warehouse>NYC</b:warehouse></b:UPC_Inventory_Response><b:UPC_Inventory_Response><b:lot>
        </b:lot><b:on_hand>199</b:on_hand><b:uom>EA</b:uom><b:upc>8433889043141</b:upc><b:warehouse>NYC</b:warehouse></b:UPC_Inventory_Response><b:UPC_Inventory_Response><b:lot>
        </b:lot><b:on_hand>199</b:on_hand><b:uom>EA</b:uom><b:upc>8433889043158</b:upc><b:warehouse>NYC</b:warehouse></b:UPC_Inventory_Response><b:UPC_Inventory_Response><b:lot>
        </b:lot><b:on_hand>200</b:on_hand><b:uom>EA</b:uom><b:upc>[...]
