---
http_interactions:
- request:
    method: post
    uri: https://webservice.stellae.us/SIIServices/Siiservice.svc?wsdl
    body:
      encoding: UTF-8
      string: <s:Envelope xmlns:s="http://www.w3.org/2003/05/soap-envelope" xmlns:a="http://www.w3.org/2005/08/addressing"><s:Header><a:Action
        s:mustUnderstand="1">SII/ISIIService/new_order_entry</a:Action><a:MessageID>urn:uuid:56b55a70-8bbc-471d-94bb-9ca060bcf99f</a:MessageID><a:ReplyTo><a:Address>http://www.w3.org/2005/08/addressing/anonymous</a:Address></a:ReplyTo><a:To
        s:mustUnderstand="1">https://webservice.stellae.us/SIIServices/Siiservice.svc</a:To></s:Header><s:Body><new_order_entry
        xmlns="SII"><user xmlns:a="http://schemas.datacontract.org/2004/07/" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><a:user_name>DELPOZOTEST</a:user_name><a:user_password>9kUw#xAmk7uT</a:user_password></user><ohn
        xmlns:a="http://schemas.datacontract.org/2004/07/" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><a:CARRIER>FEDEX</a:CARRIER><a:CURRENCY>USD</a:CURRENCY><a:CUSTOMER_ADDRESS_1>123
        Here Now</a:CUSTOMER_ADDRESS_1><a:CUSTOMER_ADDRESS_2>2nd Floor</a:CUSTOMER_ADDRESS_2><a:CUSTOMER_ADDRESS_3
        i:nil="true"/><a:CUSTOMER_ADDRESS_CITY>New York</a:CUSTOMER_ADDRESS_CITY><a:CUSTOMER_ADDRESS_COUNTRY>US</a:CUSTOMER_ADDRESS_COUNTRY><a:CUSTOMER_ADDRESS_STATE>New
        York</a:CUSTOMER_ADDRESS_STATE><a:CUSTOMER_ADDRESS_ZIP>10012</a:CUSTOMER_ADDRESS_ZIP><a:CUSTOMER_CODE
        i:nil="true"/><a:CUSTOMER_NAME>John Smith</a:CUSTOMER_NAME><a:CUSTOMER_PO
        i:nil="true"/><a:CUSTOMER_TELEPHONE>123-123-1234</a:CUSTOMER_TELEPHONE><a:DELIVERY_ADDRESS_1>123
        Here Now</a:DELIVERY_ADDRESS_1><a:DELIVERY_ADDRESS_2>2nd Floor</a:DELIVERY_ADDRESS_2><a:DELIVERY_ADDRESS_3
        i:nil="true"/><a:DELIVERY_ADDRESS_CITY>New York</a:DELIVERY_ADDRESS_CITY><a:DELIVERY_ADDRESS_COUNTRY>US</a:DELIVERY_ADDRESS_COUNTRY><a:DELIVERY_ADDRESS_STATE>New
        York</a:DELIVERY_ADDRESS_STATE><a:DELIVERY_ADDRESS_ZIP>10012</a:DELIVERY_ADDRESS_ZIP><a:DELIVERY_DC_EDI
        i:nil="true"/><a:DELIVERY_DOOR_EDI i:nil="true"/><a:DELIVERY_FROM i:nil="true"/><a:DELIVERY_ID
        i:nil="true"/><a:DELIVERY_MESSAGE>Happy Birthday!</a:DELIVERY_MESSAGE><a:DELIVERY_NAME>John
        Smith</a:DELIVERY_NAME><a:DELIVERY_TELEPHONE>123-123-1234</a:DELIVERY_TELEPHONE><a:DELIVERY_TO
        i:nil="true"/><a:DISCOUNT>0</a:DISCOUNT><a:EMAIL>someone@somehwere.com</a:EMAIL><a:FREIGHT_ACCOUNT
        i:nil="true"/><a:MISC1>0</a:MISC1><a:MISC1_REASON i:nil="true"/><a:MISC2>0</a:MISC2><a:MISC2_REASON
        i:nil="true"/><a:ORDER_ID>R123123124</a:ORDER_ID><a:ORDER_TYPE>OO</a:ORDER_TYPE><a:Order_Details><a:Order_Detail_New><a:COST
        i:nil="true"/><a:FLAGS i:nil="true"/><a:LINE_ID i:nil="true"/><a:LOT_NUMBER
        i:nil="true"/><a:PRICE>127.23</a:PRICE><a:QUANTITY>1</a:QUANTITY><a:RETAIL_PRICE
        i:nil="true"/><a:SEASON i:nil="true"/><a:SIZE>XS</a:SIZE><a:SKU>8433889054239</a:SKU></a:Order_Detail_New></a:Order_Details><a:SERVICE>90</a:SERVICE><a:SHIPPING_FEES>5</a:SHIPPING_FEES><a:TAXES>0</a:TAXES><a:TOTAL_AMOUNT>132.23</a:TOTAL_AMOUNT><a:USER1>http://example.com/R123123123/invoice</a:USER1><a:USER2
        i:nil="true"/><a:USER3 i:nil="true"/><a:USER4 i:nil="true"/><a:USER5 i:nil="true"/><a:WAREHOUSE
        i:nil="true"/></ohn></new_order_entry></s:Body></s:Envelope>
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <s:Envelope xmlns:s="http://www.w3.org/2003/05/soap-envelope" xmlns:a="http://www.w3.org/2005/08/addressing"><s:Header><a:Action
        s:mustUnderstand="1">SII/ISIIService/new_order_entryResponse</a:Action><ActivityId
        CorrelationId="1d6b8415-75bc-4b83-9635-96d256f1041c" xmlns="http://schemas.microsoft.com/2004/09/ServiceModel/Diagnostics">0040b14a-0c54-439d-be7f-653051849330</ActivityId><a:RelatesTo>urn:uuid:56b55a70-8bbc-471d-94bb-9ca060bcf99f</a:RelatesTo></s:Header><s:Body><new_order_entryResponse
        xmlns="SII"><new_order_entryResult xmlns:b="http://schemas.datacontract.org/2004/07/"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><b:detail_status i:nil="true"
        xmlns:c="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><b:sii_order_number>11785</b:sii_order_number><b:status>0001</b:status></new_order_entryResult></new_order_entryResponse></s:Body></s:Envelope>
  recorded_at: Wed, 16 Dec 2015 21:22:29 GMT
recorded_with: VCR 2.9.3
